@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body {
    background: url(../images/fundo-preto.jpg) no-repeat center center fixed;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/frame-iphone.png) center center no-repeat fixed;
    background-size: contain;
    width: 311px;
    height: 430px;
}